*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shadows Into Light", cursive;
  font-weight: 500;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 254, 254, 0.5),
    rgba(248, 72, 72, 0.5),
    rgba(255, 254, 254, 0.5)
  );
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px red;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links ul {
  padding: 10px 20px;
}

.nav-links li {
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  height: 50%;
}

.nav-links a {
  color: red;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
  padding: 0 20px;
}

.nav-links a:hover {
  color: navy;
}

.nav-links li:not(:last-child)::after {
  content: " \007C";
  color: red;
  padding-left: 50px;
}

.img-logo {
  height: 120px;
}

.donate-btn {
  background-color: #e40b5d;
  border: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.donate-btn:hover {
  background-color: navy;
}

/*Donate form*/
donate-btn {
  background-color: #e40b5d;
  border: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.wrapper {
  background-color: #fff;
  width: 500px;
  padding: 25px;
  margin: 25px auto 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20vh;
}

.wrapper h2 {
  background-color: #fcfcfc;
  color: red;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px dotted #333;
}

h4 {
  padding-bottom: 5px;
  color: red;
}

.input-group {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.input-box {
  width: 100%;
  margin-right: 12px;
  position: relative;
}

.input-box:last-child {
  margin-right: 0;
}

.name {
  padding: 14px 10px 14px 50px;
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #000003;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 3px;
  color: #333;
}

.name:focus,
.dob:focus {
  box-shadow: 0 0 2px 1px rgb(73, 25, 25);
  border: red;
}

.input-box .icon {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  pointer-events: none;
  border: 1px solid #00000033;
  border-right: none;
}

.name:focus + .icons {
  background-color: red;
  color: #f1f1f1;
  border-right: 1px solid red;
  border: none;
  transition: 1s;
}

.dob {
  width: 30%;
  padding: 14px;
  text-align: center;
  transition: 0.3s;
  outline: none;
  border: 1px solid #c0bfbf;
  border-radius: 3px;
}

.radio {
  display: none;
}

.input-box label {
  padding: 13px;
  background-color: #fcfcfc;
  display: inline;
  text-align: center;
  border: 1px solid #c0bfbf;
}

.input-box label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.input-box label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.radio:checked + label {
  background-color: red;
  color: #fff;
  transition: 0.5s;
}

.input-box select {
  display: inline-block;
  width: 50%;
  padding: 12px;
  background-color: #fcfcfc;
  text-align: center;
  font-size: 16px;
  border: 1px solid #c0bfbf;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-box select:focus {
  background-color: red;
  color: #fff;
  text-align: center;
}

button {
  width: 100%;
  background: transparent;
  border: none;
  background: red;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.35s ease;
}

button:hover {
  cursor: pointer;
  background: rgb(73, 25, 25);
}

/*Modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  padding-top: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/*MODAL CONTENT*/

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
}

.close {
  position: absolute;
  top: 26px;
  right: 100px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: red;
  margin: 5px;
  transition: all 0.3s ease;
}

/*MAIN SECTION*/

.main-container {
  margin-top: 15vh;
  padding: 20px;
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  text-align: center;
  color: #056491;
  overflow-wrap: break-word;
  /*background-image: linear-gradient(to right, #acce3096, #58b4ee8a 100%);*/
}

.about-container {
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.about-text-box {
  text-align: center;
  padding: 20px;
  overflow-wrap: break-word;
  height: 100%;
}

.about-text-box p {
  font-size: 1.2em;
  line-height: 1.6em;
  padding: 20px;
}

.portrait {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 100%;
}

.mission-statement {
  background-image: linear-gradient(
    to right,
    rgba(255, 254, 254, 0.685),
    white,
    rgba(255, 254, 254, 0.658) 100%
  );
  color: #084f70;
  font-size: 1.2em;
}
/*Staff section */
.image-card-section {
  height: 100%;
}
.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.column-2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  padding: 0 8px;
  height: 100%;
}

.avatar-img {
  height: 300px;
  width: 100%;
}

.image-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.card-container {
  height: 25%;
  padding: 16px;
}

.card-container::after,
.row-2::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.image-card-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.image-card-btn:hover {
  background-color: #555;
}

/*Footer Section*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px black;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

footer > .social-icons {
  color: red;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:not(:last-child)::after {
    display: none;
  }
  .donate-btn {
    display: none;
  }
  .burger {
    display: block;
  }

  .about-container {
    flex-direction: column;
  }
  .portrait {
    margin: auto;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
